body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.app {
  padding: 20px;
}